h1 {
  font-size: 36px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 16px;
}

.navBar {
  padding: 0px 24px;
  margin: 0;
  z-index: 5;
}

#contentrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  overflow-y: scroll;
}

.allTextContent {
  order: 2;
  max-width: 80%;
  height: auto;
  gap: 16px;
}

.titleWrap {
  height: 98px;
}

.title {
  width: 100%;
  height: auto;
  border-radius: 24px;
  padding: 8px 0px;
  margin: 0;
}

.subtitle {
  display: flex;
  position: relative;
  z-index: 2;
  width: 70%;
  height: fit-content;
  border-radius: 16px;
  padding: 8px 0px;
  margin: 0;
  transform: translateY(-15%);
}

#mobileSideBar.is-active {
  display: flex;
  position: absolute;
  overflow: hidden;
  z-index: 5;
  right: 0;
  width: 60%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #C13D4C;
  border-style: hidden;
}

#mobileOverlay {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  position: absolute;
  z-index: 4;
}

#mobileOverlay.is-active {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;

}

.hid-box {
  font-size: 16px;
}

.portrait {
  max-width: 60%;
}

.mobileNav {
  display: flex;
  width: 100%;
}

.mobileUl {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
}

.mobileUl li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.mobileUl li a {
  display: flex;
  font-size: 20px;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: #F5F0DD;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  margin: 0px 0px 8px 0px;
  padding: 24px 0px;
  width: 100%;
}

.mobileUl li a.active {
  background-color: #E57E7E;
}

#mobileMenu {
  display: flex;
  justify-content: center;
  width: fit-content;
  z-index: 6;
  background: transparent;
  border: transparent;
  font-size: 40px;
  color:#F5F0DD;
  right: 20px;
  top: 0.35em;
}

.desktopNav {
  display: none;
}